In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import networkx as nx

In [4]:
import re

In [24]:
names_df = pd.read_csv('data/name.basics.tsv', usecols=[0, 1, 2, 3, 4], sep='\t', \
        converters={'primaryProfession': lambda x: re.split(',+', x)})

In [25]:
names_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession
0,nm0000001,Fred Astaire,1899,1987,"[soundtrack, actor, miscellaneous]"
1,nm0000002,Lauren Bacall,1924,2014,"[actress, soundtrack]"
2,nm0000003,Brigitte Bardot,1934,\N,"[actress, soundtrack, music_department]"
3,nm0000004,John Belushi,1949,1982,"[actor, soundtrack, writer]"
4,nm0000005,Ingmar Bergman,1918,2007,"[writer, director, actor]"

In [ ]:
names_df.dtypes

In [6]:
titles_df = pd.read_csv('data/title.basics.tsv', usecols=[0,1,2,5,7,8], sep='\t', \
        converters={'genres': lambda x: re.split(',+', x)}, na_filter=True)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
titles_df.dtypes

In [ ]:
titles_df.head()

In [ ]:
print(type(titles_df.iloc[10]['genres']))

In [ ]:
titles_df.shape

In [ ]:
titles_df.describe

In [7]:
actors_df = pd.read_csv('data/actors.list.tsv', header=None)

In [8]:
movies_df = pd.read_csv('data/movies.list.tsv', header=None)

In [ ]:
actors_pd.head()

In [11]:
actors = actors_df[0].tolist()

In [27]:
actors

['nm0000137',
 'nm0000145',
 'nm0000157',
 'nm0000162',
 'nm0000176',
 'nm0000222',
 'nm0000227',
 'nm0000261',
 'nm0000268',
 'nm0000284',
 'nm0000287',
 'nm0000304',
 'nm0000308',
 'nm0000310',
 'nm0000327',
 'nm0000335',
 'nm0000336',
 'nm0000337',
 'nm0000349',
 'nm0000357',
 'nm0000376',
 'nm0000383',
 'nm0000385',
 'nm0000392',
 'nm0000393',
 'nm0000405',
 'nm0000407',
 'nm0000418',
 'nm0000427',
 'nm0000430',
 'nm0000447',
 'nm0000448',
 'nm0000449',
 'nm0000452',
 'nm0000458',
 'nm0000469',
 'nm0000477',
 'nm0000481',
 'nm0000492',
 'nm0000502',
 'nm0000504',
 'nm0000510',
 'nm0000511',
 'nm0000516',
 'nm0000522',
 'nm0000526',
 'nm0000530',
 'nm0000534',
 'nm0000549',
 'nm0000551',
 'nm0000555',
 'nm0000571',
 'nm0000580',
 'nm0000594',
 'nm0000608',
 'nm0000612',
 'nm0000613',
 'nm0000616',
 'nm0000633',
 'nm0000639',
 'nm0000641',
 'nm0000642',
 'nm0000643',
 'nm0000646',
 'nm0000663',
 'nm0000670',
 'nm0000679',
 'nm0000680',
 'nm0000685',
 'nm0000686',
 'nm0000690',
 'nm0000707',
 'nm0000714',
 'nm0000737',
 'nm0000775',
 'nm0000787',
 'nm0000792',
 'nm0000799',
 'nm0000880',
 'nm0000884',
 'nm0000889',
 'nm0000893',
 'nm0000903',
 'nm0000911',
 'nm0000913',
 'nm0000924',
 'nm0000929',
 'nm0000933',
 'nm0000960',
 'nm0000961',
 'nm0000966',
 'nm0000968',
 'nm0000977',
 'nm0000981',
 'nm0001001',
 'nm0001002',
 'nm0001007',
 'nm0001026',
 'nm0001028',
 'nm0001043',
 'nm0001061',
 'nm0001074',
 'nm0001089',
 'nm0001092',
 'nm0001117',
 'nm0001126',
 'nm0001127',
 'nm0001136',
 'nm0001137',
 'nm0001141',
 'nm0001147',
 'nm0001155',
 'nm0001157',
 'nm0001164',
 'nm0001174',
 'nm0001194',
 'nm0001216',
 'nm0001217',
 'nm0001218',
 'nm0001221',
 'nm0001242',
 'nm0001251',
 'nm0001255',
 'nm0001259',
 'nm0001263',
 'nm0001269',
 'nm0001271',
 'nm0001272',
 'nm0001277',
 'nm0001285',
 'nm0001292',
 'nm0001313',
 'nm0001315',
 'nm0001320',
 'nm0001337',
 'nm0001340',
 'nm0001341',
 'nm0001346',
 'nm0001349',
 'nm0001367',
 'nm0001368',
 'nm0001418',
 'nm0001419',
 'nm0001421',
 'nm0001440',
 'nm0001458',
 'nm0001480',
 'nm0001487',
 'nm0001507',
 'nm0001513',
 'nm0001516',
 'nm0001527',
 'nm0001529',
 'nm0001533',
 'nm0001535',
 'nm0001543',
 'nm0001555',
 'nm0001562',
 'nm0001564',
 'nm0001575',
 'nm0001588',
 'nm0001595',
 'nm0001600',
 'nm0001604',
 'nm0001607',
 'nm0001617',
 'nm0001632',
 'nm0001644',
 'nm0001652',
 'nm0001669',
 'nm0001714',
 'nm0001728',
 'nm0001732',
 'nm0001733',
 'nm0001734',
 'nm0001737',
 'nm0001738',
 'nm0001746',
 'nm0001757',
 'nm0001759',
 'nm0001760',
 'nm0001785',
 'nm0001796',
 'nm0001802',
 'nm0001807',
 'nm0001817',
 'nm0001830',
 'nm0001836',
 'nm0001841',
 'nm0001844',
 'nm0001849',
 'nm0001851',
 'nm0001852',
 'nm0001857',
 'nm0001860',
 'nm0001879',
 'nm0001987',
 'nm0002039',
 'nm0002122',
 'nm0002128',
 'nm0002129',
 'nm0002245',
 'nm0002326',
 'nm0002347',
 'nm0002436',
 'nm0002546',
 'nm0002663',
 'nm0002799',
 'nm0002902',
 'nm0002944',
 'nm0003082',
 'nm0004028',
 'nm0004700',
 'nm0004719',
 'nm0004729',
 'nm0004735',
 'nm0004738',
 'nm0004743',
 'nm0004748',
 'nm0004751',
 'nm0004761',
 'nm0004772',
 'nm0004785',
 'nm0004786',
 'nm0004787',
 'nm0004806',
 'nm0004811',
 'nm0004814',
 'nm0004827',
 'nm0004834',
 'nm0004854',
 'nm0004861',
 'nm0004862',
 'nm0004883',
 'nm0004884',
 'nm0004895',
 'nm0004899',
 'nm0004900',
 'nm0004920',
 'nm0004921',
 'nm0004922',
 'nm0004933',
 'nm0004941',
 'nm0004948',
 'nm0004959',
 'nm0004963',
 'nm0004977',
 'nm0004978',
 'nm0004984',
 'nm0004997',
 'nm0004998',
 'nm0005020',
 'nm0005026',
 'nm0005029',
 'nm0005057',
 'nm0005064',
 'nm0005072',
 'nm0005078',
 'nm0005085',
 'nm0005098',
 'nm0005102',
 'nm0005113',
 'nm0005129',
 'nm0005130',
 'nm0005134',
 'nm0005165',
 'nm0005176',
 'nm0005179',
 'nm0005186',
 'nm0005192',
 'nm0005202',
 'nm0005211',
 'nm0005230',
 'nm0005234',
 'nm0005238',
 'nm0005246',
 'nm0005255',
 'nm0005258',
 'nm0005265',
 'nm0005278',
 'nm0005288',
 'nm0005299',
 'nm0005318',
 'nm0005336',
 'nm0005343',
 'nm0005347',
 'nm0005349',
 'nm0005352',
 'nm0005359',
 'nm0005361',
 'nm0005368',
 'nm0005372',
 'nm0005381',
 'nm0005385',
 'nm0005388',
 'nm0005393',
 'nm0005399',
 'nm0005401',
 'nm0005402',
 'nm0005412',
 'nm0005417',
 'nm0005424',
 'nm0005442',
 'nm0005443',
 'nm0005448',
 'nm0005466',
 'nm0005471',
 'nm0005475',
 'nm0005483',
 'nm0005484',
 'nm0005485',
 'nm0005489',
 'nm0005492',
 'nm0005508',
 'nm0005529',
 'nm0005538',
 'nm0005543',
 'nm0005559',
 'nm0005571',
 'nm0006692',
 'nm0007155',
 'nm0007210',
 'nm0009918',
 'nm0011095',
 'nm0014803',
 'nm0015865',
 'nm0016687',
 'nm0017524',
 'nm0017698',
 'nm0018271',
 'nm0018681',
 'nm0019172',
 'nm0022351',
 'nm0024404',
 'nm0024425',
 'nm0027555',
 'nm0030394',
 'nm0033042',
 'nm0034342',
 'nm0036526',
 'nm0038680',
 'nm0038690',
 'nm0039148',
 'nm0040470',
 'nm0044489',
 'nm0045584',
 'nm0046420',
 'nm0046646',
 'nm0047248',
 'nm0047453',
 'nm0047734',
 'nm0048687',
 'nm0048844',
 'nm0049346',
 'nm0051394',
 'nm0051621',
 'nm0054111',
 'nm0059132',
 'nm0060029',
 'nm0064187',
 'nm0067768',
 'nm0068110',
 'nm0068338',
 'nm0068411',
 'nm0070237',
 'nm0072050',
 'nm0072419',
 'nm0075788',
 'nm0078324',
 'nm0078940',
 'nm0079374',
 'nm0080524',
 'nm0081197',
 'nm0084105',
 'nm0084327',
 'nm0084370',
 'nm0084547',
 'nm0085153',
 'nm0085413',
 'nm0085664',
 'nm0086883',
 'nm0088127',
 'nm0088144',
 'nm0088298',
 'nm0088781',
 'nm0089456',
 'nm0089485',
 'nm0090469',
 'nm0092677',
 'nm0092906',
 'nm0094039',
 'nm0095017',
 'nm0095746',
 'nm0095751',
 'nm0095980',
 'nm0097842',
 'nm0098014',
 'nm0099054',
 'nm0099202',
 'nm0100792',
 'nm0101248',
 'nm0101880',
 'nm0104526',
 'nm0105226',
 'nm0106319',
 'nm0106549',
 'nm0107289',
 'nm0108758',
 'nm0110803',
 'nm0112043',
 'nm0112094',
 'nm0113814',
 'nm0114276',
 'nm0114390',
 'nm0115092',
 'nm0115444',
 'nm0116465',
 'nm0117206',
 'nm0117857',
 'nm0118682',
 'nm0119501',
 'nm0119541',
 'nm0120410',
 'nm0121026',
 'nm0121404',
 'nm0122716',
 'nm0122789',
 'nm0123102',
 'nm0125148',
 'nm0125579',
 'nm0125847',
 'nm0128657',
 'nm0129248',
 'nm0130191',
 'nm0130536',
 'nm0132257',
 'nm0134227',
 'nm0134281',
 'nm0134631',
 'nm0136482',
 'nm0139175',
 'nm0141617',
 'nm0141931',
 'nm0142206',
 'nm0143261',
 'nm0144307',
 'nm0146536',
 'nm0146915',
 'nm0146938',
 'nm0147661',
 'nm0149942',
 'nm0150255',
 'nm0150376',
 'nm0154000',
 'nm0154914',
 'nm0155693',
 'nm0156910',
 'nm0157915',
 'nm0159068',
 'nm0159776',
 'nm0160085',
 'nm0160309',
 'nm0160589',
 'nm0164900',
 'nm0166566',
 'nm0167086',
 'nm0167408',
 'nm0167626',
 'nm0167649',
 'nm0167850',
 'nm0168398',
 'nm0170696',
 'nm0170912',
 'nm0171059',
 'nm0174021',
 'nm0174780',
 'nm0174966',
 'nm0175262',
 'nm0176175',
 'nm0177896',
 'nm0178757',
 'nm0179173',
 'nm0179224',
 'nm0181920',
 'nm0183158',
 'nm0183548',
 'nm0184086',
 'nm0184965',
 'nm0185214',
 'nm0186322',
 'nm0187267',
 'nm0187724',
 'nm0187764',
 'nm0187811',
 'nm0188220',
 'nm0188709',
 'nm0188813',
 'nm0189202',
 'nm0192024',
 'nm0193551',
 'nm0196592',
 'nm0199325',
 'nm0199823',
 'nm0199840',
 'nm0200451',
 'nm0201437',
 'nm0203221',
 'nm0205127',
 'nm0205626',
 'nm0206079',
 'nm0206479',
 'nm0215093',
 'nm0215293',
 'nm0217645',
 'nm0217938',
 'nm0219775',
 'nm0219835',
 'nm0220881',
 'nm0222643',
 'nm0223565',
 'nm0224391',
 'nm0227710',
 'nm0228324',
 'nm0229930',
 'nm0230655',
 'nm0230693',
 'nm0232975',
 'nm0234540',
 'nm0235206',
 'nm0237164',
 'nm0237711',
 'nm0237849',
 'nm0238968',
 'nm0240043',
 'nm0240380',
 'nm0240564',
 'nm0241232',
 'nm0242750',
 'nm0242903',
 'nm0242954',
 'nm0243024',
 'nm0243571',
 'nm0244954',
 'nm0247720',
 'nm0248698',
 'nm0249378',
 'nm0253705',
 'nm0254379',
 'nm0254392',
 'nm0256121',
 'nm0256599',
 'nm0257598',
 'nm0258474',
 'nm0259264',
 'nm0261170',
 'nm0261413',
 'nm0261435',
 'nm0263759',
 'nm0263760',
 'nm0263881',
 'nm0264579',
 'nm0265668',
 'nm0267511',
 'nm0267812',
 'nm0268297',
 'nm0269599',
 'nm0270451',
 'nm0272399',
 'nm0274919',
 'nm0278304',
 'nm0278568',
 'nm0279390',
 'nm0279702',
 'nm0279720',
 'nm0280584',
 'nm0281284',
 'nm0283515',
 'nm0286022',
 'nm0289213',
 'nm0290075',
 'nm0290163',
 'nm0290478',
 'nm0293422',
 'nm0293439',
 'nm0298221',
 'nm0301178',
 'nm0301370',
 'nm0301925',
 'nm0302446',
 'nm0303379',
 'nm0304000',
 'nm0304580',
 'nm0305272',
 'nm0310240',
 'nm0310248',
 'nm0310283',
 'nm0311619',
 'nm0313232',
 'nm0314524',
 'nm0316933',
 'nm0317023',
 'nm0317181',
 'nm0317537',
 'nm0319164',
 'nm0319231',
 'nm0319320',
 'nm0319698',
 'nm0322164',
 'nm0322181',
 'nm0324790',
 'nm0324795',
 'nm0326988',
 'nm0327764',
 'nm0328879',
 'nm0329192',
 'nm0329245',
 'nm0329537',
 'nm0332562',
 'nm0334159',
 'nm0336125',
 'nm0336335',
 'nm0336489',
 'nm0337020',
 'nm0339304',
 'nm0339797',
 'nm0341289',
 'nm0341421',
 'nm0341737',
 'nm0342241',
 'nm0343447',
 'nm0344010',
 'nm0346885',
 'nm0354427',
 'nm0358922',
 'nm0359322',
 'nm0359623',
 'nm0361959',
 'nm0363699',
 'nm0364068',
 'nm0364458',
 'nm0365484',
 'nm0365768',
 'nm0366106',
 'nm0367762',
 'nm0371129',
 'nm0371660',
 'nm0371787',
 'nm0372493',
 'nm0372784',
 'nm0376436',
 'nm0377106',
 'nm0378363',
 'nm0382819',
 'nm0383305',
 'nm0385543',
 'nm0385639',
 'nm0386645',
 'nm0387581',
 'nm0389527',
 'nm0389581',
 'nm0389623',
 'nm0389693',
 'nm0391738',
 'nm0391820',
 'nm0392228',
 'nm0393953',
 'nm0394012',
 'nm0394286',
 'nm0396129',
 'nm0396685',
 'nm0397386',
 'nm0397432',
 'nm0398485',
 'nm0400949',
 'nm0401799',
 'nm0401936',
 'nm0401977',
 'nm0404307',
 'nm0404456',
 'nm0405281',
 'nm0410127',
 'nm0410336',
 'nm0410464',
 'nm0410622',
 'nm0410746',
 'nm0410893',
 'nm0413974',
 'nm0415066',
 'nm0415382',
 'nm0416404',
 'nm0416625',
 'nm0418744',
 'nm0419273',
 'nm0420345',
 'nm0423111',
 'nm0424035',
 'nm0424559',
 'nm0425053',
 'nm0425543',
 'nm0425927',
 'nm0426909',
 'nm0427521',
 'nm0427869',
 'nm0428309',
 'nm0429250',
 'nm0429348',
 'nm0435678',
 'nm0435938',
 'nm0438127',
 'nm0439781',
 'nm0440511',
 'nm0440514',
 'nm0442066',
 'nm0443117',
 'nm0444223',
 'nm0444534',
 'nm0444776',
 'nm0445987',
 'nm0446465',
 'nm0446702',
 'nm0446892',
 'nm0447376',
 'nm0448252',
 'nm0448317',
 'nm0449656',
 'nm0449940',
 'nm0452286',
 'nm0452962',
 'nm0454809',
 'nm0455502',
 'nm0457267',
 'nm0465664',
 'nm0465959',
 'nm0468772',
 'nm0470182',
 'nm0471036',
 'nm0472595',
 'nm0472772',
 'nm0473413',
 'nm0476906',
 'nm0478556',
 'nm0479458',
 'nm0479527',
 'nm0480465',
 'nm0484178',
 'nm0484626',
 'nm0488662',
 'nm0489010',
 'nm0489632',
 'nm0490774',
 'nm0491357',
 'nm0492345',
 'nm0492620',
 'nm0492687',
 'nm0493222',
 'nm0493279',
 'nm0494784',
 'nm0494892',
 'nm0498707',
 'nm0500200',
 'nm0500359',
 'nm0500739',
 'nm0501355',
 'nm0501837',
 'nm0502342',
 'nm0502442',
 'nm0506314',
 'nm0507212',
 'nm0507338',
 'nm0507712',
 'nm0508844',
 'nm0509824',
 'nm0511264',
 'nm0511604',
 'nm0517059',
 'nm0518715',
 'nm0518718',
 'nm0519101',
 'nm0521723',
 'nm0521753',
 'nm0522909',
 'nm0522979',
 'nm0524745',
 'nm0525240',
 'nm0527592',
 'nm0528149',
 'nm0528164',
 'nm0530249',
 'nm0531095',
 'nm0531468',
 'nm0533227',
 'nm0533258',
 'nm0534132',
 'nm0535019',
 'nm0535502',
 'nm0537567',
 'nm0539678',
 'nm0541908',
 'nm0542492',
 'nm0543215',
 'nm0545629',
 'nm0546122',
 'nm0547544',
 'nm0547800',
 'nm0551908',
 'nm0552863',
 'nm0553436',
 'nm0558182',
 'nm0558645',
 'nm0558950',
 'nm0561391',
 'nm0564680',
 'nm0564697',
 'nm0565319',
 'nm0565823',
 'nm0565973',
 'nm0566084',
 'nm0566187',
 'nm0566572',
 'nm0567506',
 'nm0568777',
 'nm0569295',
 'nm0569337',
 'nm0569547',
 'nm0569711',
 'nm0569787',
 'nm0570860',
 'nm0571636',
 'nm0572001',
 'nm0572268',
 'nm0572313',
 'nm0572712',
 'nm0573481',
 'nm0573585',
 'nm0573658',
 'nm0574131',
 'nm0579728',
 'nm0581365',
 'nm0582257',
 'nm0582462',
 'nm0584185',
 'nm0584951',
 'nm0586994',
 'nm0587396',
 'nm0587667',
 'nm0588364',
 'nm0589334',
 'nm0589896',
 'nm0590195',
 'nm0591373',
 'nm0593193',
 'nm0593310',
 'nm0595110',
 'nm0595576',
 'nm0597235',
 'nm0597450',
 'nm0598569',
 'nm0599727',
 'nm0600899',
 'nm0601041',
 'nm0602969',
 'nm0603413',
 'nm0604430',
 'nm0606600',
 'nm0606637',
 'nm0606700',
 'nm0606862',
 'nm0606924',
 'nm0607377',
 'nm0607516',
 'nm0607703',
 'nm0608632',
 'nm0609096',
 'nm0610298',
 'nm0611995',
 'nm0613147',
 'nm0614877',
 'nm0615050',
 'nm0622544',
 'nm0623604',
 'nm0624121',
 'nm0625075',
 'nm0625334',
 'nm0626259',
 'nm0627492',
 'nm0627624',
 'nm0629653',
 'nm0634409',
 'nm0635139',
 'nm0635728',
 'nm0635851',
 'nm0637598',
 'nm0639917',
 'nm0640344',
 'nm0640560',
 'nm0640744',
 'nm0641097',
 'nm0641389',
 'nm0642429',
 'nm0642751',
 'nm0645290',
 'nm0646241',
 'nm0646955',
 'nm0648153',
 'nm0651441',
 'nm0651451',
 'nm0652089',
 'nm0653952',
 'nm0655959',
 'nm0656335',
 'nm0657524',
 'nm0661164',
 'nm0662504',
 'nm0663546',
 'nm0663820',
 'nm0664499',
 'nm0664995',
 'nm0666398',
 'nm0666787',
 'nm0668534',
 'nm0669041',
 'nm0669656',
 'nm0669826',
 'nm0672303',
 'nm0675950',
 'nm0676370',
 'nm0677397',
 'nm0679410',
 'nm0679531',
 'nm0680881',
 'nm0681882',
 'nm0682999',
 'nm0683986',
 'nm0684456',
 'nm0684521',
 'nm0687679',
 'nm0688285',
 'nm0689450',
 'nm0691509',
 'nm0692466',
 'nm0692850',
 'nm0693243',
 'nm0693420',
 'nm0694619',
 'nm0695497',
 'nm0696015',
 'nm0697044',
 'nm0697650',
 'nm0699856',
 'nm0700443',
 'nm0701561',
 'nm0703778',
 'nm0703861',
 'nm0705492',
 'nm0707816',
 'nm0709634',
 'nm0710969',
 'nm0711559',
 'nm0712262',
 'nm0714919',
 'nm0715091',
 'nm0717395',
 'nm0721332',
 'nm0722636',
 'nm0723365',
 'nm0723432',
 'nm0724025',
 'nm0724460',
 'nm0724995',
 'nm0725660',
 'nm0726627',
 'nm0727459',
 'nm0729401',
 'nm0730045',
 'nm0730510',
 'nm0731323',
 'nm0731519',
 'nm0731575',
 'nm0732187',
 'nm0732793',
 'nm0732803',
 'nm0732945',
 'nm0733812',
 'nm0734562',
 'nm0735859',
 'nm0737533',
 'nm0737963',
 'nm0740500',
 'nm0741242',
 'nm0741388',
 'nm0741891',
 'nm0743768',
 'nm0744776',
 'nm0745186',
 'nm0746125',
 'nm0746414',
 'nm0747653',
 'nm0749081',
 'nm0750913',
 'nm0751076',
 ...]

In [12]:
movies_df.head()

           0
0  tt2256703
1  tt4814436
2  tt5066870
3  tt5076184
4  tt6185074

In [14]:
movies = movies_df[0].tolist()

In [ ]:
movies

In [15]:
ratings_df = pd.read_csv('data/title.ratings.tsv', sep='\t', na_filter=True)

In [ ]:
ratings_df.head()

In [16]:
principals_df = pd.read_csv('data/title.principals.tsv', sep='\t', na_filter=True)

In [ ]:
principals_df.head()

In [20]:
names_df.describe()

ERROR: Internal Python error in the inspect module.
Below is the traceback from this internal error.


KeyboardInterrupt

In [ ]:
titles_df.describe()

In [17]:
actors_df.describe()

                0
count        2469
unique       2469
top     nm0627624
freq            1

In [23]:
titles_df.head()

,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,1894,1,"[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,1892,5,"[Animation, Short]"
2,tt0000003,short,Pauvre Pierrot,1892,4,"[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,1892,12,"[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,1893,1,"[Comedy, Short]"

In [26]:
names_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession
0,nm0000001,Fred Astaire,1899,1987,"[soundtrack, actor, miscellaneous]"
1,nm0000002,Lauren Bacall,1924,2014,"[actress, soundtrack]"
2,nm0000003,Brigitte Bardot,1934,\N,"[actress, soundtrack, music_department]"
3,nm0000004,John Belushi,1949,1982,"[actor, soundtrack, writer]"
4,nm0000005,Ingmar Bergman,1918,2007,"[writer, director, actor]"

In [28]:
names_df = names_df[names_df['nconst'].isin(actors)]

In [32]:
names_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession
136,nm0000137,Bo Derek,1956,\N,"[actress, producer, miscellaneous]"
144,nm0000145,Sherilyn Fenn,1965,\N,"[actress, soundtrack]"
156,nm0000157,Linda Hamilton,1956,\N,[actress]
161,nm0000162,Anne Heche,1969,\N,"[actress, writer, producer]"
175,nm0000176,Nastassja Kinski,1961,\N,"[actress, producer, soundtrack]"

In [31]:
names_df.describe

<bound method NDFrame.describe of              nconst             primaryName birthYear deathYear  \
136       nm0000137                Bo Derek      1956        \N
144       nm0000145           Sherilyn Fenn      1965        \N
156       nm0000157          Linda Hamilton      1956        \N
161       nm0000162              Anne Heche      1969        \N
175       nm0000176        Nastassja Kinski      1961        \N
221       nm0000222          Brooke Shields      1965        \N
226       nm0000227            Mira Sorvino      1967        \N
260       nm0000261             Karen Allen      1951        \N
267       nm0000268             Ann-Margret      1941        \N
283       nm0000284            Adam Baldwin      1962        \N
286       nm0000287         William Baldwin      1963        \N
303       nm0000304             Linda Blair      1959        \N
307       nm0000308         Ernest Borgnine      1917      2012
309       nm0000310        Bruce Boxleitner      1950        \N
326       nm0000327           Lacey Chabert      1982        \N
334       nm0000335             Glenn Close      1947        \N
335       nm0000336            James Coburn      1928      2002
336       nm0000337      Rachael Leigh Cook      1979        \N
348       nm0000349             Joan Cusack      1962        \N
356       nm0000357       Lolita Davidovich      1961        \N
375       nm0000376           Fran Drescher      1957        \N
382       nm0000383           Jennifer Ehle      1969        \N
384       nm0000385             Sam Elliott      1944        \N
391       nm0000392        Morgan Fairchild      1950        \N
392       nm0000393              Peter Falk      1927      2011
404       nm0000405         Michelle Forbes      1965        \N
406       nm0000407           Vivica A. Fox      1964        \N
417       nm0000418            Danny Glover      1946        \N
426       nm0000427               Pam Grier      1949        \N
429       nm0000430        Steve Guttenberg      1958        \N
...             ...                     ...       ...       ...
10665402  nm9192216     Justine Christensen        \N        \N
10674655  nm9203667           Bobby Daniels        \N        \N
10716263  nm9255499           Nadine Bhabha        \N        \N
10784679  nm9339903         Callum Shoniker      2009        \N
10798724  nm9357126             Andrea Agur        \N        \N
10822317  nm9385786         Dominic Mariche        \N        \N
10826543  nm9391096            Alanna Smith        \N        \N
10836938  nm9404185  Christopher Quartuccio        \N        \N
10867235  nm9441069             Amanda Wong        \N        \N
10884178  nm9460841             Marla Renae        \N        \N
10885222  nm9462060        Callum Alexander        \N        \N
10889758  nm9467495       Simbarashe Matshe        \N        \N
10897639  nm9476787          Sophie Neudorf        \N        \N
10956180  nm9546091          Nakai Takawira        \N        \N
10980644  nm9575766         Jennifer Austin        \N        \N
10990839  nm9587926           Eugene Baffoe        \N        \N
10991676  nm9588990       Hannah Grace Hays        \N        \N
11021258  nm9624740                John Way        \N        \N
11021365  nm9624864  Skylar Olivia Flanagan        \N        \N
11051048  nm9659053              Ross Jirgl        \N        \N
11052740  nm9660985       Tyler Kay Whitley        \N        \N
11074224  nm9685851           Mika Mitchell        \N        \N
11087858  nm9703049        Zo Noelle Baker        \N        \N
11138022  nm9762057        Katrina Reynolds        \N        \N
11151368  nm9777171          Daphne Hoskins        \N        \N
11152906  nm9778960        Michaela Russell        \N        \N
11230048  nm9868363        Kayden Boisclair        \N        \N
11260280  nm9903089        Rachel O'Connell        \N        \N
11317573  nm9969736              Ana Araujo        \N        \N
11330388  nm9984616              Leah Jenea        \N        \N

                                    primaryProfession
136                [actress, producer, miscellaneous]
144                             [actress, soundtrack]
156                                         [actress]
161                       [actress, writer, producer]
175                   [actress, producer, soundtrack]
221                   [actress, producer, soundtrack]
226                   [actress, producer, soundtrack]
260                   [actress, director, soundtrack]
267                             [actress, soundtrack]
283                               [actor, soundtrack]
286                         [actor, producer, stunts]
303                   [actress, soundtrack, producer]
307                     [actor, soundtrack, producer]
309                     [actor, soundtrack, producer]
326                   [actress, soundtrack, producer]
334                   [actress, producer, soundtrack]
335                       [actor, producer, director]
336                               [actress, producer]
348                     [actress, soundtrack, writer]
356                                         [actress]
375                       [writer, actress, producer]
382                                         [actress]
384                     [actor, producer, soundtrack]
391                   [actress, soundtrack, producer]
392                     [actor, producer, soundtrack]
404                                         [actress]
406                   [actress, producer, soundtrack]
417                       [actor, producer, director]
426                     [actress, soundtrack, writer]
429                     [actor, producer, soundtrack]
...                                               ...
10665402        [actress, writer, assistant_director]
10674655                                      [actor]
10716263                  [actress, writer, producer]
10784679     [actor, miscellaneous, music_department]
10798724           [actress, producer, miscellaneous]
10822317                                      [actor]
10826543                                    [actress]
10836938                                      [actor]
10867235                  [actress, writer, producer]
10884178                                    [actress]
10885222                                      [actor]
10889758                                      [actor]
10897639                                    [actress]
10956180                                    [actress]
10980644                                           []
10990839                  [actor, director, producer]
10991676                                           []
11021258                          [actor, soundtrack]
11021365                                      [actor]
11051048                                      [actor]
11052740                                    [actress]
11074224                                    [actress]
11087858                                    [actress]
11138022                                    [actress]
11151368                                    [actress]
11152906                     [actress, miscellaneous]
11230048  [actor, miscellaneous, location_management]
11260280                 [actress, camera_department]
11317573                                    [actress]
11330388                                    [actress]

[2469 rows x 5 columns]>

In [33]:
my_df = pd.read_html('https://www.imdb.com/user/ur2875173/watchlist?ref_=nv_usr_wl_all_0')

ImportError: html5lib not found, please install it